{% extends "base/layout.html" %}

<!-- TITLE -->
{% block title %} {% endblock title %}

<!-- CONTENT -->
{% block content %}
<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous"
></script>

<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <div class="w-1/4 bg-white border-r border-gray-700">
    <!-- Sidebar Header -->
    <header
      class="p-6 h-20 border-b border-gray-700 flex justify-between items-center bg-dark-2 text-white"
    >
      <div class="relative">
        <!-- <button
          class="flex items-center justify-center w-8 h-8 p-2 rounded-md bg-gray-200 hover:bg-gray-300 focus:outline-none focus:bg-gray-300 transition duration-300"
        ></button> -->
        <button
          id="menuButton"
          class="focus:outline-none flex items-center justify-center w-8 h-8 p-2 rounded-md focus:outline-none transition duration-300"
        >
          <span class="sr-only">Open menu</span>
          <svg
            class="w-4 h-4 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
        <!-- Menu Dropdown -->
        <div
          id="menuDropdown"
          class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 rounded-md shadow-lg hidden"
        >
          <ul class="py-2 px-3">
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-gray-800 hover:text-white hover:bg-gray-400"
                >Profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-gray-800 hover:text-white hover:bg-gray-400"
                >Account Settings</a
              >
            </li>
            <li>
              <a
                href="{{ url_for('logout') }}"
                class="block px-4 py-2 text-gray-800 hover:text-white hover:bg-gray-400"
                >Logout</a
              >
            </li>
            <!-- Add more menu options here -->
          </ul>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <input
          id="searchInput"
          type="text"
          class="px-4 py-1 bg-dark-3 border border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Search..."
        />
        <div
          class="search-results-dropdown hidden absolute top-16 left-40 bg-white border border-light-3 shadow-md max-h-40 z-50 w-72 rounded-lg"
        >
          <!-- Search result items will be appended here -->
        </div>
      </div>

      <input type="hidden" id="publicKey" value="{{ public_key }}" />
      <input type="hidden" id="privateKey" value="{{ private_key }}" />
    </header>

    <!-- Contact List -->
    <div class="overflow-y-auto h-screen mb-9 pb-20 bg-dark-2">
      <div
        class="flex items-center cursor-pointer hover:bg-dark-3 p-4 bg-active"
      >
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Alice</h2>
          <p class="text-light-2 text-sm line-clamp-1">Hoorayy!!</p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/ad922e/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Martin</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            That pizza place was amazing! We should go again sometime. 🍕
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/2e83ad/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Charlie</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            Hey, do you have any recommendations for a good movie to watch?
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/c2ebff/0f0b14.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">David</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            I just finished reading a great book! It was so captivating.
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/e7c2ff/7315d1.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Ella</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            What's the plan for this weekend? Anything fun?
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/ffc2e2/ffdbdb.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Fiona</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            I heard there's a new exhibit at the art museum. Interested?
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/f83f3f/4f4f4f.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">George</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            I tried that new cafe downtown. The coffee was fantastic!
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/dddddd/999999.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Hannah</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            I'm planning a hiking trip next month. Want to join?
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/70ff33/501616.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Ian</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            Let's catch up soon. It's been too long!
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/30916c/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Jack</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            Remember that hilarious joke you told me? I can't stop laughing!
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/30916c/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">Jack</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            Remember that hilarious joke you told me? I can't stop laughing!
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
          <img
            src="https://placehold.co/200x/30916c/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato"
            alt="User Avatar"
            class="w-12 h-12 rounded-full"
          />
        </div>
        <div class="flex-1">
          <h2 class="text-lg text-light-1 font-inter">HELLO</h2>
          <p class="text-light-2 text-sm line-clamp-1">
            Remember that hilarious joke you told me? I can't stop laughing!
          </p>
        </div>
      </div>

      <div class="flex items-center cursor-pointer hover:bg-dark-3 p-4">
        <div class="w-12 h-12 bg-gray-300 rounded-full mr-3"></div>
      </div>
    </div>
  </div>

  <!-- Main Chat Area -->
  <div class="flex-1">
    <div id="hidden-private-key" private-key="{{ private_key }}"></div>
    <div id="hidden-public-key" public-key="{{ public_key }}"></div>
    <!-- Chat Header -->
    <header
      class="bg-dark-2 p-6 text-gray-700 text-xl font-bold h-20 text-light-1"
    >
      USERNAME {{id}}
    </header>

    <!-- Chat Messages CHART CONTAINER-->
    <div
      id="chat-container"
      class="h-screen overflow-y-auto p-4 pb-40 bg-dark-1 message-bottom"
    ></div>

    <!-- Chat Input -->
    <footer
      class="bg-dark-3 border-t border-gray-700 p-4 absolute bottom-0 w-3/4"
    >
      <div class="flex items-center">
        <input
          type="text"
          id="message-input"
          placeholder="Type a message..."
          class="w-full p-2 text-light-1 bg-dark-4 rounded-md border border-gray-800 focus:outline-none focus:border-blue-500"
        />
        <button
          class="bg-indigo-500 text-white px-4 py-2 rounded-md ml-2"
          onclick="sendMessage()"
        >
          Send
        </button>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.10.0/forge.min.js"></script>

<!-- Menu button dropdown (Header) -->
<!-- SEND MESSAGES TRIGGER ON ENTER -->
<script>
  // JavaScript for showing/hiding the menu
  const menuButton = document.getElementById('menuButton');
  const menuDropdown = document.getElementById('menuDropdown');

  menuButton.addEventListener('click', () => {
    if (menuDropdown.classList.contains('hidden')) {
      menuDropdown.classList.remove('hidden');
    } else {
      menuDropdown.classList.add('hidden');
    }
  });

  // Close the menu if you click outside of it
  document.addEventListener('click', (e) => {
    if (!menuDropdown.contains(e.target) && !menuButton.contains(e.target)) {
      menuDropdown.classList.add('hidden');
    }
  });

  // Listen for Enter key press in the message input
  document
    .getElementById('message-input')
    .addEventListener('keydown', function (event) {
      if (event.key === 'Enter') {
        sendMessage(); // Trigger the send button's click event
      }
    });

  // Scroll at the bottom
  const chatMessages = document.getElementById('chat-container');

  // Scroll to the end of the chat messages
  function scrollToBottom() {
    chatMessages.scrollTop = chatMessages.scrollHeight;
    console.log('SCROLL TO THE BOTTOM');
  }
</script>

<!-- SEARCH FUNCTIONS FETCH -->
<script>
  // Get the search input and search results container
  const searchInput = document.getElementById('searchInput');
  const searchResultsDropdown = document.querySelector(
    '.search-results-dropdown'
  );
  // Construct the base URL with the '/api/v1' prefix
  const baseUrl = "{{ url_for('chat_app_api.searchUsers') }}";

  // Function to make a request to the server with the user's input
  function searchUsers(query) {
    // Combine the base URL with the query parameter
    const apiUrl = baseUrl + `?query=${query}`;
    fetch(apiUrl)
      .then((response) => response.json())
      .then((data) => {
        // Clear previous search results
        searchResultsDropdown.innerHTML = '';

        if (data.result) {
          // Loop through the search results and render them
          data.result.forEach((result) => {
            const resultElement = document.createElement('a');
            resultElement.href = `/api/v1/${result.username}`;
            resultElement.className =
              'bg-dark-3 w-full px-4 py-2 flex gap-4 border-b border-gray-800';

            // Create and append the child elements with your specified structure
            const imgElement = document.createElement('img');
            imgElement.src =
              'https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato';
            imgElement.alt = 'User Avatar';
            imgElement.className = 'w-12 h-12 rounded-full';

            const userTextElement = document.createElement('div');

            const userNameElement = document.createElement('h2');
            userNameElement.className = 'text-lg text-light-1 font-inter';
            userNameElement.textContent = `@${result.username}`;

            const userDescriptionElement = document.createElement('p');
            userDescriptionElement.className =
              'text-light-2 text-sm line-clamp-1';
            userDescriptionElement.textContent = 'Hoorayy!!';

            // Append child elements to resultElement
            userTextElement.appendChild(userNameElement);
            userTextElement.appendChild(userDescriptionElement);

            resultElement.appendChild(imgElement);
            resultElement.appendChild(userTextElement);

            // Append the resultElement to searchResultsDropdown
            searchResultsDropdown.appendChild(resultElement);
          });
        } else {
          // Create a message element for no results
          const noResultsMessage = document.createElement('div');
          noResultsMessage.className = 'bg-dark-3 w-full px-4 py-4 flex gap-4';
          noResultsMessage.textContent = 'No Users Found';

          // Append the message to searchResultsDropdown
          searchResultsDropdown.appendChild(noResultsMessage);
        }

        // Show the search results container
        searchResultsDropdown.classList.remove('hidden');
      })
      .catch((error) => {
        console.error('Error fetching search results:', error);
      });
  }

  // Handle input events in the search input (for real-time search)
  searchInput.addEventListener('input', (event) => {
    const query = searchInput.value.trim();

    if (query.length > 0) {
      searchUsers(query);
    } else {
      // If the search input is empty, hide the search results
      searchResultsDropdown.innerHTML = '';
      searchResultsDropdown.classList.add('hidden');
    }
  });

  // Close the search results when clicking outside the search input and results container
  document.addEventListener('click', (e) => {
    if (
      !searchInput.contains(e.target) &&
      !searchResultsDropdown.contains(e.target)
    ) {
      searchResultsDropdown.innerHTML = '';
      searchResultsDropdown.classList.add('hidden');
    }
  });

  // Function to handle the focus event on the search input
  searchInput.addEventListener('focus', (event) => {
    // Check if the input is not empty and trigger the search again
    const query = searchInput.value.trim();

    if (query.length > 0) {
      searchUsers(query);
    }
  });
</script>

<!-- SOCKETIO -->
<script>
  // Get the last ellement in my url
  const url = window.location.href;
  const urlArray = url.split('/');
  const userReceiverId = urlArray[urlArray.length - 1];

  const socket = io.connect('http://' + document.domain + ':' + location.port, {
    query: {
      chat_user_id: userReceiverId, // User B's ID or username
    },
  });
</script>

<script>
  let publicKey;
  let privateKey;
  let recipientPublicKey;

  // Retrieve the keys from the hidden input fields and parse them as Forge.js key objects
  let publicKeyStr = document.getElementById('publicKey').value;
  let privateKeyStr = document.getElementById('privateKey').value;

  ForgeKeys();
  function ForgeKeys() {
    publicKey = forge.pki.publicKeyFromPem(publicKeyStr); // Assign publicKey here
    privateKey = forge.pki.privateKeyFromPem(privateKeyStr);
  }

  function encryptMessage(key, message) {
    const encryptedMessage = key.encrypt(forge.util.encodeUtf8(message));
    const base64EncryptedMessage = forge.util.encode64(encryptedMessage);
    return base64EncryptedMessage;
  }

  function decryptMessage(message) {
    const encryptedMessage = forge.util.decode64(message);
    const decryptedMessage = privateKey.decrypt(encryptedMessage);

    return decryptedMessage;
  }
</script>

<!-- Send Message Function -->
<script>
  function sendMessage() {
    const messageInput = document.getElementById('message-input');
    const message = messageInput.value;
    if (message) {
      const senderEncryptedMessage = encryptMessage(publicKey, message);
      const receiverEncryptedMessage = encryptMessage(
        recipientPublicKey,
        message
      );

      socket.emit('send_message', {
        // message: message,
        senderEncryptedMessage: senderEncryptedMessage,
        receiverEncryptedMessage: receiverEncryptedMessage,
      });
      messageInput.value = '';
    }
  }
</script>

<!-- EMITTING THE SOCKET -->
<script>
  socket.on('message', function (data) {
    console.log('DATA SENDER: ', data.sender);
    // console.log('RECEIVER: ', userReceiverId);
    const chatContainer = document.getElementById('chat-container');

    if (data.sender == userReceiverId) {
      // Handle outgoing messages from the current user
      const decryptedMessage = decryptMessage(data.receiverCipher);

      const incomingMessageContainer =
        createIncomingMessageContainer(decryptedMessage);
      chatContainer.appendChild(incomingMessageContainer);
    } else {
      // Handle outgoing messages from the current user
      const decryptedMessage = decryptMessage(data.senderCipher);
      const outgoingMessageContainer =
        createOutgoingMessageContainer(decryptedMessage);
      chatContainer.appendChild(outgoingMessageContainer);
    }
    scrollToBottom();
  });

  // On connect it will get the current user public key
  socket.on('chat_details', (data) => {
    console.log(data);
    recipientPublicKey = forge.pki.publicKeyFromPem(data.chat_user_public_key);

    console.log('EMITTED IN CHAT HISTORY');
    const chatContainer = document.getElementById('chat-container');
    chatContainer.innerHTML = ''; // Clear existing chat history
    data.chat_history.forEach(function (message) {
      if (message.sender == userReceiverId) {
        // Handle outgoing messages from the current user
        const decryptedMessage = decryptMessage(message.cipher);

        const incomingMessageContainer =
          createIncomingMessageContainer(decryptedMessage);
        chatContainer.appendChild(incomingMessageContainer);
      } else {
        // Handle outgoing messages from the current user
        const decryptedMessage = decryptMessage(message.cipher);
        const outgoingMessageContainer =
          createOutgoingMessageContainer(decryptedMessage);
        chatContainer.appendChild(outgoingMessageContainer);
      }
    });
    setTimeout(() => {
      scrollToBottom();
    }, 10); // Adjust the delay as needed
  });
</script>

<!-- OUTGOING AND INCOMING MESSAGE CONTAINER -->
<script>
  // Function to create an outgoing message container
  function createOutgoingMessageContainer(messageText) {
    const messageContainer = document.createElement('div');
    messageContainer.classList.add(
      'flex',
      'justify-end',
      'mb-4',
      'cursor-pointer'
    );

    const messageContent = document.createElement('div');
    messageContent.classList.add(
      'flex',
      'max-w-96',
      'bg-indigo-500',
      'text-white',
      'rounded-lg',
      'p-3',
      'gap-3'
    );

    const messageTextElement = document.createElement('p');
    messageTextElement.innerText = messageText;

    messageContent.appendChild(messageTextElement);

    const avatarContainer = document.createElement('div');
    avatarContainer.classList.add(
      'w-9',
      'h-9',
      'rounded-full',
      'flex',
      'items-center',
      'justify-center',
      'ml-2'
    );

    const avatarImage = document.createElement('img');
    avatarImage.src =
      'https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato';
    avatarImage.alt = 'Avatar';
    avatarImage.classList.add('w-8', 'h-8', 'rounded-full');

    avatarContainer.appendChild(avatarImage);

    messageContainer.appendChild(messageContent);
    messageContainer.appendChild(avatarContainer);

    return messageContainer;
  }

  // Function to create an incoming message container
  function createIncomingMessageContainer(messageText) {
    const incomingMessageContainer = document.createElement('div');
    incomingMessageContainer.classList.add('flex', 'mb-4', 'cursor-pointer');

    const avatarContainer = document.createElement('div');
    avatarContainer.classList.add(
      'w-9',
      'h-9',
      'rounded-full',
      'flex',
      'items-center',
      'justify-center',
      'mr-2'
    );

    const avatarImage = document.createElement('img');
    avatarImage.src =
      'https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato';
    avatarImage.alt = 'User Avatar';
    avatarImage.classList.add('w-8', 'h-8', 'rounded-full');

    avatarContainer.appendChild(avatarImage);

    const messageContent = document.createElement('div');
    messageContent.classList.add(
      'flex',
      'max-w-96',
      'bg-dark-4',
      'rounded-lg',
      'p-3',
      'gap-3'
    );

    const messageTextElement = document.createElement('p');
    messageTextElement.innerText = messageText;
    messageTextElement.classList.add('text-light-1');

    messageContent.appendChild(messageTextElement);

    incomingMessageContainer.appendChild(avatarContainer);
    incomingMessageContainer.appendChild(messageContent);

    return incomingMessageContainer;
  }
</script>

{% endblock script %}
