{% extends "base/layout.html" %}

<!-- TITLE -->
{% block title %} {% endblock title %}

<!-- CONTENT -->
{% block content %}
<div class="min-h-screen flex">
  <div class="hidden lg:block relative w-0 flex-1">
    <img
      class="absolute inset-0 h-full w-full object-cover"
      src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1908&amp;q=80"
      alt=""
    />
  </div>
  <div
    class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img
          class="h-12 w-auto"
          src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow"
        />
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
          Change your password
        </h2>
      </div>

      <div class="mt-8">
        <div class="mt-6">
          <form class="space-y-6" id="reset-form">
            <div class="space-y-1">
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
              >
                New Password
              </label>
              <div class="mt-1">
                <input
                  id="new-password"
                  name="new-password"
                  type="password"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
                <p
                  id="new-password-error"
                  class="text-danger text-sm text-left opacity-90"
                ></p>
              </div>
            </div>

            <div class="space-y-1">
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
              >
                Confirm Password
              </label>
              <div class="mt-1">
                <input
                  id="confirm-password"
                  name="confirm-password"
                  type="password"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
                <p
                  id="confirm-password-error"
                  class="text-danger text-sm text-left opacity-90"
                ></p>
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="text-sm">
                <a
                  href="{{ url_for('login') }}"
                  class="font-medium text-indigo-600 hover:text-indigo-500"
                >
                  Back to login?
                </a>
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<script>
  const errorElementMap = {
    'new-password': document.getElementById('new-password-error'),
    'confirm-password': document.getElementById('confirm-password-error'),
  };

  function clearErrors() {
    Object.values(errorElementMap).forEach((errorElement) => {
      errorElement.classList.remove('mt-2');
      errorElement.innerText = '';
    });
  }

  // Add event listener to the form submission
  document
    .getElementById('reset-form')
    .addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Get the current URL
      const chatApiBaseUrl = '{{ chat_api_base_url }}';
      const currentUrl = window.location.href;
      const urlParts = currentUrl.split('/');
      const token = urlParts[urlParts.length - 1];
      const apiUrl = `${chatApiBaseUrl}/reset_password_confirm/${token}`;

      // Make a POST request to the login API
      // Get the form data
      const formData = new FormData(event.target);

      // Make a POST request to the login API
      fetch(apiUrl, {
        method: 'POST',
        body: formData,
        credentials: 'include', // Include credentials (cookies) in the request
      })
        .then((response) => response.json()) // Parse the JSON response
        .then((data) => {
          clearErrors(); // Clear all error messages

          if (data.message) {
            sessionStorage.setItem('message', data.message);
            window.location.href = "{{ url_for('login') }}";
          } else {
            data.errors.forEach((error) => {
              if (error.type === 'password-not-match') {
                notyf.error(error.message);
              }

              const errorElement = errorElementMap[error.type];
              if (errorElement) {
                errorElement.classList.add('mt-2');
                errorElement.innerText = error.message;
              }
            });
          }
        })
        .catch((error) => {});
    });
</script>
{% endblock script %}
