{% extends "base/layout.html" %}

<!-- TITLE -->
{% block title %} {% endblock title %}

<!-- CONTENT -->
{% block content %}
<div class="min-h-screen flex">
  <div class="hidden lg:block relative w-0 flex-1">
    <img
      class="absolute inset-0 h-full w-full object-cover"
      src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1908&amp;q=80"
      alt=""
    />
  </div>
  <div
    class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img
          class="h-12 w-auto"
          src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow"
        />
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
          Forgot Password
        </h2>
      </div>

      <div class="mt-8">
        <div class="mt-6">
          <form class="space-y-6" id="forgot-form">
            <div>
              <label
                for="email"
                class="block text-sm font-medium text-gray-700"
              >
                Email address
              </label>
              <div class="mt-1">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <p
                id="email-error"
                class="text-danger text-sm text-left opacity-90"
              ></p>
            </div>

            <div>
              <button
                type="submit"
                id="submit-link"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Forgot Password
              </button>

              <div class="flex flex-col items-center">
                <a
                  href="{{ url_for('login') }}"
                  class="font-medium text-indigo-600 hover:text-indigo-500 mt-4"
                >
                  Sign in
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<script>
  // Add event listener to the form submission
  document
    .getElementById('forgot-form')
    .addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Get the form data
      const formData = new FormData(event.target);

      // Define the API URL for the login endpoint
      const apiUrl = "{{ url_for('chat_app_api.forgotPasswordRequest') }}";

      // Make a POST request to the login API
      fetch(apiUrl, {
        method: 'POST',
        body: formData,
        credentials: 'include', // Include credentials (cookies) in the request
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          if (data.error) {
            const emailElement = document.getElementById('email-error');
            emailElement.classList.add('mt-2');
            emailElement.innerText = data.error;
          } else {
            sessionStorage.setItem('message', data.message);
            window.location.href = "{{ url_for('login') }}";
          }
        })
        .catch((error) => {});
    });
</script>
{% endblock script %}
